.App {
  text-align: center;
  color: white;
  background-color: black;
}

.image {
  position: relative;
    object-fit: cover;
    width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  color: white;
  font-size: 24px;
  float: left;
}

.searchBar {
  display: flex;
  border-radius: 1000px;
  height: 42.5px;
  margin-top: 10px;
  align-items: center;
  flex: 1;
  gap: .5rem;
  position: relative;
  border: 1px solid rgba(255, 255, 255, .05);
  background-color: rgba(255, 255, 255, .07);
  color: white;
  background: transparent;
}
.searchBar ::placeholder {
  color: #ccc;
  opacity: 1; /* Firefox */
}

.searchBar :where(.css-dev-only-do-not-override-98ntnt).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-98ntnt).ant-input-outlined:focus-within{
  background-color: rgb(27 26 26 / 88%);
  color: grey;
}
